---
    title: An Interesting title
---
      <!DOCTYPE html>
      <html lang="en">
        <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Cherry+Swash&family=Fira+Code&family=Poppins&display=swap" rel="stylesheet">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="./css/base.css">
          <title>{{ title }}</title>
        </head>
        <body>
          <div id="header">{{ title }}</div>
          <div id="grid-wrapper">
            <div id="toc">
              <ul>
                <li>
                  <a href="./index.html">Main page</a>
                </li>
                <li>lmao</li>
              </ul>
            </div>

            <div id="main-content">
              {{ content }}
            </div>
          </div>

        </body>
      </html>