#container {
    display: grid;
    justify-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    /* background-color: wheat; */
    margin: 0%;
    grid-row-start: foot;
}
p {
    font-family: 'Indie flower', cursive;
    font-size: 1.3rem;
    color: darkslategrey;
}