h1 {
    font-family: 'EB Garamond', serif;
    text-align: center;
    /* text-align: center; */
    font-size: 4rem;
}
h2 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2rem;
}
#mobile {
    text-decoration: line-through;
}
#leave {
    font-family: 'Montserrat', serif;
}

#crossed {
    text-decoration: line-through;
}